<html>
	<head>
		<title>Blog Django Girls</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Blog Django Girls</a></h1>
		</div>
		
		<div>
			<p>publicado: 14.06.2014, 12:14</p>
			<h2><a href="">Meu primeiro post</a></h2>
			<p>Aqui está a minha primeira publicação. No exemplo, está algo em latim, mas eu quis escrever diferente. 
			Lembrando que isso aqui está escrito na 2ª SEÇÃO.</p>
		</div>
		
		<div>
			<p>publicado: 14.06.2014, 12:14</p>
			<h2><a href="">Meu segundo post</a></h2>
			<p>Aqui está a minha segunda publicação. No exemplo isto é uma cópia do primeiro, mas sem o final. Lembrando
			que aqui está a 3ª SEÇÃO.
		</div>
	</body>
</html>